{% extends 'base.html' %}

<!-- Start Main -->
{% block content %}
<main class="container">
  <section style="max-width:650px;" class="mx-auto py-5">
    <form action="{% url 'downloader' %}" class="shadow">
      <div class="input-group input-group-lg rounded">
        <input
          type="text"
          name="video"
          value="{{ url }}"
          class="form-control"
          placeholder="Enter a video URL ..."
        />
        <div class="input-group-append">
          <button
            class="btn btn-md btn-info m-0 px-3 py-2 z-depth-0 waves-effect"
            type="submit"
          >
            FIND
          </button>
        </div>
      </div>
    </form>
  </section>
  <section>
    {% if err %}
    <h3 class="text-center mt-5 red-text">{{ err }}</h3>
    {% endif %}

    <!-- VIDEO -->
    {% if title %}
    <!-- VIDEO DETAILS -->
    <div class="row mt-3">
      <div class="col-lg-6 col-md-12">
        <img src="{{ img }}" alt="Image" style="width:200px;" />
        <h3 class="mt-2 mb-5">{{ title }}</h3>
      </div>
      <div class="col-lg-6 col-md-12">
        <table class="table" style="max-width:100%;">
          <thead>
            <tr class="bg-dark ">
              <th scope="col">Resolution</th>
              <th scope="col">Format</th>
              <th scope="col">Size</th>
              <th scope="col">Downloads</th>
            </tr>
          </thead>
          <tbody>
            {% for video in videos %}
            <tr>
              <td>{{ video.quality }} ( {{ video.resolution }} )</td>
              <td>{{ video.subtype }}</td>
              <td>{{ video.size }} Mb</td>
              <td class="pt-2">
                <a
                  class="btn btn-primary btn-sm"
                  download="{{ video.default_filename }}"
                  href="{{ video.url }}"
                  target="_blank"
                >
                  <i class="fa fa-download"></i> Download
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
  </section>
</main>
{% endblock %}
